h1{
  text-align: center;
  color: rgb(255, 255, 255);
  border: 2px solid black;
  font-family: Times;
  background: url("https://i.pinimg.com/originals/e5/89/95/e5899572ecace2b0895b36db7703a001.gif");
  font-size: 50px;
  margin: 10px;
}

.design{
  width: 250px;
  margin-left: 560px;
  margin-top: 50px;
  color: black;
  font-family: Times;
}

p{
  font-family: Times;
  font-size: 50px;
  text-align: center;
}

.box{
  background-color: rgba(255, 255, 255, 0);
  width: 600px;
  margin-top: 50px;
  border: 2px solid black;
}
center{
  width: 605px;
  margin-left: 380px;
}